.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

.build/
BuildArtifacts/
DerivedData/
*.xcuserdatad/
*.xcuserstate
*.xcscmblueprint
*.moved-aside
*.xccheckout

/.swiftpm/
/*.xcodeproj
/*.xcworkspace

**/PROMPT*.md
**/SPEC*.md
